@font-face {
    .k2d-regular {
        font-family: "K2D", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .anta-regular {
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 80%;
    max-width: 1400px;

    margin: 0 auto;


}

.banner {
    height: 100vh;

    background-image: url(img/Banner-de-fundo.png);
    background-repeat: no-repeat;
}

header .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 150px;
    width: 150px;
}


.menu {
    width: 850px;

    display: flex;
    justify-content: space-between;

}

.menu a {
    font-size: 20px;
    font-family: "K2D";

    color: white;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;


    transition: text-decoration 500ms ease;

}

.menu a:hover {
    text-decoration-color: white;

}

#sobre {
    height: 650px;
    padding: 50px 0px 0px 0px;


    display: flex;
    justify-content: space-around;
    flex-direction: column;

    /* background-image: url(img/image\ 62.png);
    background-repeat: no-repeat;
    background-position: 900px 250px;

    background-size: 360px 420px; */
}

.alinhando-img {
    display: flex;
    justify-content: space-between;
}

.alinhando-img img {
    height: 450px;
    width: 380px;
}

#sobre h2 {

    text-align: center;
    align-self: center;
    padding: 70px;
    margin: 0 auto;

}

h2 {
    font-family: "anta";
    font-size: 28px;
}

#sobre p {
    font-family: "K2D";
    font-size: 18px;
    /* gap: 10px; */

    height: 150px;
    max-width: 800px;
}

.texto-sobre {

    padding: 20px;
    max-width: 90vh;
    display: flex;
    gap: 60px;
    flex-direction: column;

    text-align: left;
}


#sobre button {

    width: 170px;
    padding: 7px;


    border-radius: 20px 20px 20px 20px;
    border: none;

    background-color: #B841D9;
    color: white;

    font-size: 18px;
    font-weight: 700;

    cursor: pointer;

    transition: backgrund-color 500ms ease;
}

#sobre button:hover {
    background-color: #672A78;

    transition: background-color 500ms ease;

}

#cases {
    height: 1200px;
    padding: 0 10%;
    margin: 150px 0px 0px 0px;

    background-color: #360259;
}

#cases h2 {
    padding: 200px 0 200px 0;

    text-align: center;
    color: white;

    font-size: 32px;
}


.container {
    position: relative;
    height: 370px;
    width: 300px;

    display: flex;
    flex-direction: column;
}

.container:hover .flip{
    transform: rotateY(180deg);
}

.flip{
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;  

}

.frente1, .tras1{
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;

}

.frente1 {
    background-image: url(img/GaleSun.png);
    background-size: cover;
}

.tras1 {
    /* color: black; */
    /* background-color: rgb(215, 215, 215); */
    background-image: url(img/GaleSun-costas.png);
    background-size: cover;
    transform: rotateY(180deg);
}

.frente2, .tras2{
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;

}

.frente2 {
    background-image: url(img/Ecosoy.png);
    background-size: cover;
}

.tras2 {
    /* color: black; */
    /* background-color: rgb(215, 215, 215); */
    background-image: url(img/EcosoyCosta.png);
    background-size: cover;
    transform: rotateY(180deg);
}