@font-face {
    .k2d-regular {
        font-family: "K2D", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .anta-regular {
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80%;
    max-width: 1400px;

    margin: 0 auto;


}

.banner {
    height: 100vh;

    background-image: url(img/Banner-de-fundo.png);
    background-repeat: no-repeat;
}

header .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 150px;
    width: 150px;
}


.menu {
    width: 850px;

    display: flex;
    justify-content: space-between;

}

.menu a {
    font-size: 20px;
    font-family: "K2D";

    color: white;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;


    transition: text-decoration 500ms ease;

}

.menu a:hover {
    text-decoration-color: white;
    /* padding-bottom: 10px; */
}

#sobre {
    height: 650px;
    padding: 50px 0px 0px 0px;


    display: flex;
    justify-content: space-around;
    flex-direction: column;

    /* background-image: url(img/image\ 62.png);
    background-repeat: no-repeat;
    background-position: 900px 250px;

    background-size: 360px 420px; */
}

.alinhando-img {
    display: flex;
    justify-content: space-between;
}

.alinhando-img img {
    height: 450px;
    width: 380px;
}

#sobre h2 {

    text-align: center;
    align-self: center;
    padding: 70px;
    margin: 0 auto;

}

h2 {
    font-family: "anta";
    font-size: 28px;
}

#sobre p {
    font-family: "K2D";
    font-size: 18px;
    /* gap: 10px; */

    height: 150px;
    max-width: 800px;
}

.texto-sobre {

    padding: 20px;
    max-width: 90vh;
    display: flex;
    gap: 60px;
    flex-direction: column;

    text-align: left;
}


#sobre button {

    width: 170px;
    padding: 7px;


    border-radius: 20px 20px 20px 20px;
    border: none;

    background-color: #B841D9;
    color: white;

    font-size: 18px;
    font-weight: 700;

    cursor: pointer;

    transition: background-color 500ms ease;
}

#sobre button:hover {
    background-color: #672A78;


}

#cases {
    height: 800px;
    padding: 0 10%;
    margin: 150px 0px 0px 0px;

    background-color: #360259;



}

#cases h2 {

    padding: 100px 0 100px 0;

    text-align: center;
    color: white;

    font-size: 32px;
}



.container1 {
    position: relative;
    height: 370px;
    width: 300px;


}

.container1:hover .flip1 {
    transform: rotateY(180deg);
}

.flip1 {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;

}

.frente1,
.tras1 {
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;

}

.frente1 {
    background-image: url(img/Group\ 121.png);
    background-size: cover;
}

.tras1 {
    /* color: black; */
    /* background-color: rgb(215, 215, 215); */
    background-image: url(img/Group\ 120.png);
    background-size: cover;
    transform: rotateY(180deg);

    color: white;
    font-family: "K2D";
    font-size: 12px;
    text-align: center;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}




/* segundo card */

.container2 {
    position: relative;
    /* bottom: 370px;
    left: 320px; */
    height: 370px;
    width: 300px;
    
}


.container2:hover .flip2 {
    transform: rotateY(180deg);
}

.flip2 {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;

    font-family: "K2D";
    text-align: left;
}



.frente2, .tras2 {
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;
 
    
}

.frente2 {
    background-image: url(img/Ecosoy.png);
    background-size: cover;
}

.tras2 {
    background-image: url(img/Frame\ 18\ \(1\).png);
    background-size: cover;
    transform: rotateY(180deg);

    font-family: "K2D";
    font-size: 12px;
    text-align: left;

    padding: 20px;

    display: flex;
flex-direction: column;
    gap: 10px;
}

.paragrafo2-2 {
    width: 60%;
    font-size: 12px;
    text-align: left;

}

/* Terceiro Card */

.container3 {
    position: relative;
    /* bottom: 740px;
    left: 640px; */
    height: 370px;
    width: 300px;
    
}


.container3:hover .flip3 {
    transform: rotateY(180deg);
}

.flip3 {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;

}

.frente3, .tras3 {
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;
 
    
}

.frente3 {
    background-image: url(img/GoodHealth.png);
    background-size: cover;
}

.tras3 {
    background-image: url(img/Group\ 82.png);
    background-size: cover;
    transform: rotateY(180deg);

    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
    gap: 15px;
    padding: 0px 15px 80px 25px;
    
    font-family: "K2D";
    font-size: 12px;
}

/* Quarto Card */

.container4 {
    position: relative;
    /* bottom: 1110px;
    left: 960px; */
    height: 370px;
    width: 300px;
    
    
}


.container4:hover .flip4 {
    transform: rotateY(180deg);
}

.flip4 {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;

}

.frente4, .tras4 {
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;
 
    
}

.frente4 {
    background-image: url(img/BIomove.png);
    background-size: cover;
}

.tras4 {
    background-image: url(img/Group\ 100.png );
    background-size: cover;
    transform: rotateY(180deg);

    font-family: "K2D";
    font-size: 11px;
    text-align: left;

    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.paragrafo1-4 {
    width: 50%;
}

.alinhamento {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}




#contato {
    text-align: center;
    /* margin-bottom: 100px; */
    background-image: url(img/fundoform\ \(2\).png);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.filtro {
    height: 100%;
    width: 100%;
    padding-bottom: 100px;

    background-color: rgba(0, 0, 0, 0.405);
}

#contato h2 {
    padding-top: 80px;
    margin-bottom: 70px;
    color: white;
}

#contato form {
    

    border-radius: 80px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    font-family: "K2D";
    font-size: 17px;

}



.campo {


    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;
}

.campo-descricao {

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo input {
    height: 40px;
    width: 600px;


    color: black;
    background-color: #D9D9D9;

    border: none;
    border-radius: 4px;

    outline: none;

    text-indent: 10px;
}

.campo-descricao textarea {
    width: 600px;

    color: black;
    background-color: #D9D9D9;

    border: none;
    border-radius: 4px;

    outline: none;

    padding: 10px;

    resize: none;
}

.campo label,
.campo-descricao label {
    margin-bottom: 15px;
}

.campo input,
.campo-descricao textarea {
    font-family: "K2D";
    font-size: 17px;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #949494;
    font-family: "KD2";
}

.campo input:focus {
    outline: 2px solid var(--laranja-gamifica);
}

.campo-descricao textarea:focus {
    outline: 2px solid var(--laranja-gamifica);
}

#contato form button {
    height: 40px;
    width: 600px;

    background-color: #B841D9;
    color: white;

    border: none;
    border-radius: 4px;

    font-size: 17px;
    font-family: "KD2";
    font-weight: 700;
    /* 700 = Bold */

    text-transform: uppercase;

    cursor: pointer;

    transition: background-color 500ms;
}

#contato form button:hover {
    background-color: #761591;

}

footer {
    height: 400px;

    font-family: "K2D";

    display: flex;
    justify-content: space-around;

    padding: 80px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.links a {
    color: rgb(43, 43, 43);
    text-decoration: none;

    font-size: 28px;

}

.links a:hover {
    color: #B841D9;
}

footer h2 {
font-size: 38px;
}

.conteudo { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.conteudo a {
    color: rgb(43, 43, 43);
    text-decoration: none;

    font-size: 28px;
}

.conteudo a:hover {
    color: #B841D9;
}

footer img {
    height: 150px;
    width: 140px;

    display: flex;
    gap: 25px;
    justify-content: space-between;
}


.icones {
    width: 300px;
    display: flex;
    justify-content: space-around;

}

.icones a{
    color: black;
}

.icones a:hover {
    color: #B841D9;

}

.logo-icones {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1300px) {

    header {
        position: relative;
    }

    header button {
        width: 50px;

        display: unset;


        background: none;
        border: none;
    }

    header svg {
        position: absolute;
        top: 70px;
        fill: white;

        height: 80px;
        width: 80px;
    }

    nav.menu {
        height: 500px;
        width: 350px;

        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;



        background-color: #000000da;

        position: absolute;
        right: 0px;
        top: 165px;
    }


    }

    .card {
        height: 320px;
        width: 200px;
    }

    #contato form {
        width: 75%;
    }

    .alinhamento {
        height: 100%;
        width: 100%;

        flex-wrap: nowrap;

        gap: 250px;

        overflow-x: auto;
    }

    .frente1 {
        height: 400px;
        width: 280px;

        flex-basis: unset;

        background-size: cover;
    }

    .flip1 {
        height: 400px;
        width: 280px;

        flex-basis: unset;

        background-size: cover;
    }

    .tras1 {
        height: 400px;
        width: 280px;

        flex-basis: unset;
        
    }

    .frente:first-child {
        margin-left: 30px;
    }

    .frente1:last-child {
        margin-right: 30px;
    }

    /* adsfdgl;lkjhgfdsa */
    .frente2 {
        height: 400px;
        width: 280px;

        flex-basis: unset;

        background-size: cover;
    }

    .flip2 {
        height: 400px;
        width: 280px;

        flex-basis: unset;

        background-size: cover;
    }

    .tras2 {
        height: 400px;
        width: 280px;

        flex-basis: unset;

    }

        /* .frente2:first-child {
            margin-left: 30px;
        }

        .frente2:last-child {
            margin-right: 30px;
        } */

    .frente3 {
        height: 400px;
        width: 280px;

        flex-basis: unset;

        background-size: cover;
    }

    .flip3 {
        height: 400px;
        width: 280px;

        flex-basis: unset;

        background-size: cover;
    }

    .tras3 {
        height: 400px;
        width: 280px;

        flex-basis: unset;

    }


    .frente4 {
        height: 400px;
        width: 280px;

        flex-basis: unset;

        background-size: cover;
    }

    .flip4 {
        height: 400px;
        width: 280px;

        flex-basis: unset;

        background-size: cover;
    }

    .tras4 {
        height: 400px;
        width: 280px;

        flex-basis: unset;

    }

